<p>Dear <%= @customer.first_name %> <%= @customer.last_name %>,</p>

<p>Thank you for contacting us.</p>

<p>
  This is to acknowledge receipt of your ticket captioned <em><%= @ticket.title %></em> with id <em><%= @ticket.id %>.</em>
</p>

<p>Feedback will be provided within 24 working hours.</p>

<p>Cheers</p>
